* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.clock-container {
    text-align: center;
    color: #15c21b;

    text-shadow:
        0 0 10px #ff0019,
        0 0 20px #ff0019,
        0 0 30px #ff0019,
        0 0 40px #ff001e;

}

button {
    color: #000;
    cursor: pointer;
    width: 50px;
    height: auto;
    background-color: yellowgreen;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px 20px;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.089);
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#clock {
    font-size: 8rem;
    font-weight: bold;
    margin: 0;
}

#date {
    font-size: 2rem;
    margin-top: 20px;
    text-shadow: 0 0 10px #ff0022, 0 0 20px #ff0022, 0 0 30px #ff0022;
}